@charset "UTF-8";:root { -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; overflow-wrap: break-word; } 

/* checkbox */
input[type="checkbox"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; width: 20px; height: 20px; cursor: pointer; outline: none !important; border-radius: 4px; background: #DCDFE3 url("../img/ic-checkbox.svg")no-repeat center; } 
input[type="checkbox"]:checked { background: #158696 url("../img/ic-checkbox.svg")no-repeat center; transition: 0.3s; } 

input[type="checkbox"].check{ appearance: none; position: relative; width: 16px; height: 16px; cursor: pointer; outline: none !important;background: url("../img/ic_check.svg")no-repeat center; }
input[type="checkbox"].check + label{ font-size: 14px; font-weight: 400;color:#363738;}
input[type="checkbox"].check:checked { background: url("../img/ic_checked.svg")no-repeat center; } 
input[type="checkbox"].check:checked + label { color:#158696 } 

/* select */
select { width: 100%; height: 44px; padding:0 16px; border: 1px solid #E3E3E6; border-radius: 8px; background:#fff url(../img/ic_select_arrow.svg)no-repeat right 16px top 50%; background-size: 12px; } 
.button-select{width:100%;display:flex;align-items: center;gap:10px;}
/* location */
.location { display: flex; align-items: center; gap:7px; color:#fff; font-weight: 400; } 
.location div:last-child::after { content: ""; } 
.location div::after { content: url(../img/ic_arrow_r_w.svg); width: 12px; height: 12px; margin-left: 7px; } 

/* table */
.table-wrapper { width: 100%; overflow-x: auto; border-top: 1px solid #878889; } 
.table-wrapper.check-table td:first-child { min-width:auto; } 
.table-wrapper table { width: 100%; } 
.table-wrapper table tr { height: 40px; border-bottom: 1px solid #E3E3E6; } 
.table-wrapper table tr th { background: #EFF1F4; padding:10px; position:relative; } 
.table-wrapper table tr th::after { content:''; position: absolute; right:1px; width:1px; height:20px; background-color: #E3E3E6; } 
.table-wrapper table tr th:last-child:after { display:none; } 
.table-wrapper table tr td { min-width: 162px; text-align: center; color: #868686; padding:10px; position:relative; background-color: #fff; } 
.table-wrapper table tr td::after { content:''; position: absolute; right:1px; top:10px; width:1px; height:20px; background-color: #E3E3E6; } 
.table-wrapper table tr td:last-child:after { display:none; } 

.table-top { display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px; } 
.table-button-wrap { display: flex; align-items: center; justify-content: center; gap:10px; } 
.table-wrap .table-bottom-wrap { display: flex; align-items: center; justify-content: space-between; margin-top: 10px; } 
.table-wrap .table-bottom-wrap .page-entries { font-weight: 500; font-size: 14px; color: #363738; } 


/* pagination */
.pagination-wrapper { display: flex; align-items: center; gap:10px; } 
.pagination { display: flex; align-items: center; justify-content: center; gap:10px; } 
.pagination li { display: flex; align-items: center; justify-content: center; width: 38px; height: 38px; border-radius: 8px; font-weight: 500; font-size: 14px; color: #363738; cursor: pointer; } 
.pagination li:hover, .pagination li.active { background: #1C9AD6; color:#fff; } 

/* card */
.card { padding: 30px; background: #FFFFFF; width: 100%; } 
.info-card { padding: 20px; background: #F7F7F8; border-radius: 8px; } 

/* input */
input[type="number"] { position: relative; } 

input[type="text"] { padding:0 16px; font-size: 14px; color:#363738; border-radius: 8px; } 
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder { color: #C3C6C9; } 

input[type=date], input[type=month], input[type=time] { width:100%; position: relative; height: 100%; padding: 0 16px; border-radius: 8px; border: solid 1px #E3E3E5; background-color: #fff; font-size: 14px; text-align: left; color:#3B3E45; } 
input[type="number"], input[type="text"], input[type="password"] { width: 100%; height: 44px; border: 1px solid #e3e3e5; border-radius: 8px; background-color: #fff; padding: 0 16px; color:#363738; } 
/* input[type="number"]:hover, input[type="text"]:hover, input[type="password"]:hover { border: 1px solid #8c8c8c; } */
input[type="number"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { opacity: 1; color: #C3C6C9; } 
input[type="number"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { opacity: 1; color: #C3C6C9; } 
input[type="number"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder { opacity: 1; color: #C3C6C9; } 
input[type="number"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder { opacity: 1; color: #C3C6C9; } 
/* input[type="number"]:focus, input[type="text"]:focus, input[type="password"]:focus { border: 1px solid #141f40; } */
input[type="number"]:disabled, input[type="text"]:disabled, input[type="password"]:disabled { background-color: #f9fafd; } 
input[type=date], input[type=month], input[type=time] { height: 44px; } 
input[type=date]::-webkit-clear-button, input[type=date]::-webkit-inner-spin-button, input[type=month]::-webkit-clear-button, input[type=month]::-webkit-inner-spin-button { display: none; } 
input[type=date]::-webkit-calendar-picker-indicator, input[type=month]::-webkit-calendar-picker-indicator { background: transparent; z-index: 1; } 
input[type=date]:after, input[type=month]:after { position: absolute; top: 50%; right: 10px; width: 16px; height: 16px; content: url("../img/ic_calendar.svg"); transform: translateY(-50%); z-index: 0; } 

.date-wrap { width: 100%; display: flex; align-items: center; gap: 10px; } 

/* textarea */
textarea { width: 100%; border-radius: 4px; border: 1px solid #bcbfc7; padding: 16px; color: rgba(20, 31, 64, 0.8); overflow-x: auto; scroll-behavior: smooth; } 
textarea::-webkit-input-placeholder { opacity: 1; color: rgba(20, 31, 64, 0.5); } 
textarea:-ms-input-placeholder { opacity: 1; color: rgba(20, 31, 64, 0.5); } 
textarea::-ms-input-placeholder { opacity: 1; color: rgba(20, 31, 64, 0.5); } 
textarea::placeholder { opacity: 1; color: rgba(20, 31, 64, 0.5); } 
textarea::-webkit-scrollbar { width: 6px; display: inline; } 
textarea::-webkit-scrollbar-track { background: transparent; } 
textarea::-webkit-scrollbar-thumb { width: 6px; border-radius: 6px; background: #b6bdc1; } 

/* profile */
.myinfo-wrap { position:relative; display: flex; align-items: center; gap:10px; margin-right: 40px; } 
.myinfo-wrap .info-picture { width:30px; height:30px; border-radius: 50%; background: url(../img/profile_sample.svg)no-repeat center/contain; } 
.myinfo-wrap .info-name { display: flex; align-items: center; gap:10px; font-weight: 500; font-size: 16px; color: #FFFFFF; cursor: pointer; } 

/* input step */
.input-step { position: relative; display: flex; align-items: center; gap:10px; } 
.input-step input[type="number"] { width:80px; height: 38px; font-weight: 500; color: #363738; } 
.input-step input[type="number"] + label { font-weight: 500; font-size: 14px; color: #363738; } 
.input-step .btn-step-wrap { display: flex; flex-direction: column; gap:4px; position: absolute; right: 11px; top:12px; } 

/********** button ***********/
button { white-space: nowrap; } 
.btn-blue { display: flex; justify-content: center; align-items: center; height: 44px; border-radius: 8px; color:#fff; background: #13ACEE; font-size: 16px; font-weight: 500; padding: 12px 14px; } 
.btn-blue:hover { background: #24529B; } 
.btn-table-blue { width: 55px; height: 20px; background: #E4F8FB; border-radius: 19px; display: flex; align-items: center; justify-content: center; font-weight: 500; font-size: 10px; color: #008597; } 
button:disabled.btn-table-blue { background: #EFF1F4; color: #C3C6C9; } 
.btn-gray { height: 44px; padding: 8px 20px; background: #EFF1F4; border-radius: 8px; display: flex; justify-content: center; align-items: center;gap:6px; font-size: 16px; color: #363738; font-weight: 400; } 
.btn-gray:hover { background: #D6D8DD; } 
.btn-prev { width: 38px; height: 38px; background: #EFF1F4 url(../img/ic_arrow_l.svg)no-repeat center; border: 1px solid #E3E3E6; border-radius: 8px; display: flex; justify-content: center; align-items: center; } 
.btn-next { width: 38px; height: 38px; background: #EFF1F4 url(../img/ic_arrow_r.svg)no-repeat center; border: 1px solid #E3E3E6; border-radius: 8px; display: flex; justify-content: center; align-items: center; } 
.btn-step-up { width:8px; height:5px; background: url(../img/ic_step_up.svg)no-repeat center; } 
.btn-step-down { width:8px; height:5px; background: url(../img/ic_step_down.svg)no-repeat center; } 
.btn-green { height: 44px; background: #1C9AD6; padding: 12px 14px; border-radius: 8px; display: flex; justify-content: center; align-items: center; gap:6px; font-weight: 500; font-size: 16px; color:#fff; } 
.btn-green:hover { background: #72C6EF; } 
.btn-green:disabled { background: #EFF1F4; color:#C3C6C9;font-weight: 400;} 
.btn-down { width:12px; height:6px; background: url(../img/ic_select_arrow_w.svg)no-repeat center; } 
.btn-close { width:24px; height:24px; background: url(../img/ic_close.svg)no-repeat center; } 

/*********** icon ***********/
.ic-home { content: url(../img/ic_nav_home.svg); width:15px; height:15px; margin-top: 2px; } 
.ic-mypage { content: url(../img/ic_mypage.svg); width:15px; height:15px; } 
.ic-logout { content: url(../img/ic_logout.svg); width:15px; height:15px; } 
.ic-picture { content: url(../img/profile_sample.svg); width:30px; height:30px; } 
.ic-menu01 { content: url(../img/ic_ct_menu_01.svg); width:16px; height:16px; } 
.ic-menu02 { content: url(../img/ic_ct_menu_02.svg); width:16px; height:16px; } 
.ic-menu03 { content: url(../img/ic_ct_menu_03.svg); width:16px; height:16px; } 
.ic-menu04 { content: url(../img/ic_ct_menu_04.svg); width:16px; height:16px; } 
.ic-menu05 { content: url(../img/ic_ct_menu_05.svg); width:16px; height:16px; } 
.ic-menu06 { content: url(../img/ic_ct_menu_06.svg); width:16px; height:16px; } 
.ic-mng-menu01 { content: url(../img/ic_mng_menu_01.svg); width:16px; height:16px; } 
.ic-mng-menu02 { content: url(../img/ic_mng_menu_02.svg); width:16px; height:16px; } 
.ic-mng-menu03 { content: url(../img/ic_mng_menu_03.svg); width:18px; height:18px; } 
.ic-search { content: url(../img/ic_search.svg); width:15px; height:15px; } 
.ic-apply { content: url(../img/ic_apply.svg); width:20px; height:20px; } 
.ic-print { content: url(../img/ic_print.svg); width:20px; height:20px; } 
.ic-sign-agree { content: url(../img/ic_sign_agree.svg); width:100px; height:101px; } 
.ic-phone-check { content: url(../img/ic_phone_check.svg); width:70px; height:70px; } 
.ic-refuse { content: url(../img/ic_refuse.svg); width:18px; height:18px; } 
.ic-input { content: url(../img/ic_input.svg); width:18px; height:18px; } 
.ic-resign { content: url(../img/ic_resign.svg); width:18px; height:18px; } 
.ic-signed { content: url(../img/ic_signed.svg); width:18px; height:18px; } 
.ic-down { content: url(../img/ic_down.svg); width:18px; height:18px; } 
.ic-mail { content: url(../img/ic_mail.svg); width:18px; height:18px; } 

/*********** modal ***********/
.modal { display:none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.3); } 
.modal-cont { position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); width:100%; background-color: #fff; padding: 30px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); } 
.modal-top { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #E3E3E6; padding-bottom: 16px; } 
.modal-body { margin:10px 0; } 
.modal-title { font-weight: 500; font-size: 22px; color: #1B1B1E; } 
.modal-bottom { display:flex; align-items: center; justify-content: flex-end; } 

/************ components ***********/
.main-logo { width: 188px; height: 35px; background: url(../img/main_logo.png)no-repeat center/contain; } 

/* title */
.content-title { font-weight: 600; font-size: 18px; color: #363738; display: flex; align-items: center; gap:8px; } 
.content-title::before { content: ''; width:6px; height:6px; border-radius: 1px; background: #24539B; display: inline-block; } 

.content-list-title { font-weight: 500; font-size: 20px; color: #363738; display: flex; align-items: center; gap:8px; } 
.content-list-title::before { content: url(../img/ic_list.svg); width:18px; height:18px; display: inline-block; margin-bottom: 10px;} 


.button-wrap{display:flex;align-items: center;justify-content: flex-end; gap:10px;}
/* profile-box */
.profile-box { display:none; position:absolute; top:40px; left:-8px; width:152px; border: 1px solid #E0DFDF; filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2)); border-radius: 10px; padding:0 10px; background-color: #fff; } 
.profile-box li { height: 40px; padding:10px 20px; border-bottom: 1px solid #e3e3e6; display: flex; align-items: center; gap:5px; cursor: pointer; } 
.profile-box li:last-child { border-bottom: 0; } 

/* nav */
.nav ul.main-menu { padding:60px 20px 60px 0; } 
.nav ul.main-menu > li {  margin-bottom: 12px; } 
.nav ul.main-menu > li:last-child { margin-bottom: 0; } 
.nav ul.main-menu > li > a:hover, .nav ul.main-menu > li.active > a { background: #13ACEE; border-radius: 0px 30px 30px 0px; } 
.nav ul.main-menu > li a { display:flex; align-items: center; gap:6px; color:#fff; font-weight: 500; font-size: 16px; padding: 12px 10px 12px 20px;} 
.nav ul.main-menu > li > ul.sub-menu {display: none;} 
.nav ul.main-menu > li.active > ul.sub-menu {display: block;} 
.nav ul.main-menu > li > ul.sub-menu a { padding-left: 50px;} 
.nav ul.main-menu > li > ul.sub-menu li{position: relative} 
.nav ul.main-menu > li > ul.sub-menu li.active a::before {content: url(../img/ic_submenu.svg);width:16px;height:16px;position:absolute;left:30px;top:14px;} 

/* setting-table */

.setting-table { border-top: 1px solid #E3E3E6; padding-top:10px; margin-top: 10px; } 
.setting-table .row { display:flex; align-items: center; gap:20px; margin-bottom: 10px; } 
.setting-table .row:last-child { margin-bottom: 0; } 
.setting-table .row .row-cont { display: flex; align-items: center; gap:6px; width:100%; } 
.setting-table .row .row-cont.flex-end { justify-content:flex-end; } 
.setting-table .row .row-cont label { min-width: 100px; } 
.setting-table .row .row-cont select { width: 100%; } 


.fit-content { width:fit-content !important; } 
.flex-end {display: flex; justify-content:flex-end; } 
input.width-414 { width:414px; } 
input.width-955 { width:955px; } 
.setting-table .row .row-cont select.width-414 { width:414px; } 